@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    display: flex;
    align-items: center;
    background-color: #eff3f4;
    padding: 130px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 25px;
    color:rgb(94, 164, 224);
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {

    position: relative;
    float: left;

}

.menu .navbar ul li a {
font-size: 18px;
padding: 20px;
color: #111411;
display: block;

}

.menu .navbar ul li a:hover{
    color: #9bce21;
    
    }

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.iniciar-sesion {
    position: relative;
    color: black;
}

.iniciar-sesion:hover{
    color: #9bce21;
}

table {
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

span {
    color: rgb(94, 164, 224);
    font-size: 17px;
    font-weight: 600;
    display:block;
    margin-bottom: 25px;
}

.header h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: black;
    margin-bottom: 35px;
}


